<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_ORDER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		*
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ORDERID},	
		#{ORDERNAME},	
		#{ORDERVALUE},
		#{ORDERTIME},
		#{INSTALMENT},	
		#{INSTALMENTRATE},	
		#{ORDER_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		ORDERID,
		ORDERNAME,
		ORDERVALUE,
		ORDERTIME,
		CHANNEL_ID,
		ELECCONTRACT_ID,
		USERID,
		PRODUCTTYPE,
		ITEM,FEERATE,COMMISSION,OVERDUEFEERATE,OVERDUECOMMISSION,
		ORDER_ID
		) values (
		#{ORDERID},
		#{ORDERNAME},
		#{ORDERVALUE},
		#{ORDERTIME},
		#{CHANNEL_ID},
		#{ELECCONTRACT_ID},
		#{USERID},
		#{PRODUCTTYPE},
		#{ITEM},
		#{FEERATE},
		#{COMMISSION},
		#{OVERDUEFEERATE},
		#{OVERDUECOMMISSION},
		#{ORDER_ID}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ORDER_ID = #{ORDER_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		ORGANIZATION_ID= #{ORGANIZATION_ID},
		ORDER_ID = ORDER_ID
		where 
		ORDER_ID = #{ORDER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		*
		from 
		<include refid="tableName"></include>
		where 
			ORDER_ID = #{ORDER_ID}
	</select>

	<!-- 通过ID获取数据 -->
	<select id="getCustomerId" parameterType="pd" resultType="pd">
		select
		CUSTOMERID
		from
		TB_CREDITAPPLY
		where
			CHANNEL_ID = #{CHANNEL_ID} AND USERID = #{USERID}  LIMIT 1
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		ORD.*,CHANNELNAME,CHANNEL.PRODUCTNAME,CONTRACT_ID,ORDERSTATUS,ORGANIZATIONNAME
		from 
		<include refid="tableName"></include> ORD
		INNER JOIN TB_CHANNEL CHANNEL ON ORD.CHANNEL_ID=CHANNEL.CHANNEL_ID
		INNER JOIN TB_ELECCONTRACT ELEC ON ELEC.ELECCONTRACT_ID=ORD.ELECCONTRACT_ID
		LEFT JOIN TB_ORGANIZATION ORG ON ORG.ORGANIZATION_ID = ORD.ORGANIZATION_ID
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and (
			ORD.USERID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
			CHANNELNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			)
		</if>
		<if test="pd.PRODUCTTYPE!=null and pd.PRODUCTTYPE!=''"><!-- 订单类型 -->
			and ORD.PRODUCTTYPE = #{pd.PRODUCTTYPE}in
		</if>
		<if test="pd.lastStart!=null and pd.lastStart!=''"><!-- 开始时间检索 -->
			and ORD.CREATETIME &gt;= #{pd.lastStart}
		</if>
		<if test="pd.lastEnd!=null and pd.lastEnd!=''"><!-- 结束时间检索 -->
			and ORD.CREATETIME &lt;= #{pd.lastEnd}
		</if>
		<if test="pd.USERID!=null and pd.USERID!=''"><!-- 用户id -->
			and ORD.USERID = #{pd.USERID}
		</if>
		<if test="pd.CHANNEL_IDS!=null and pd.CHANNEL_IDS!=''"><!-- 渠道ids -->
			and LOCATE(concat(',',ORD.CHANNEL_ID),#{pd.CHANNEL_IDS})>0
		</if>
		<if test="pd.ORDERSTATUS!=null and pd.ORDERSTATUS!=''"><!-- 订单状态 -->
			and ORDERSTATUS = #{pd.ORDERSTATUS}
		</if>
		ORDER BY ORD.CREATETIME DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>

	<!-- 列表(放款机构) -->
	<select id="listAllOrg" parameterType="pd" resultType="pd">
		SELECT INS.*,ORG.ORGANIZATION_ID,ORG.ORGANIZATIONNAME
		FROM
		TB_ORDER ORD
		INNER JOIN TB_CHANNEL CHA ON ORD.CHANNEL_ID = CHA.CHANNEL_ID
		INNER JOIN TB_ORGANIZATION ORG ON ORG.PRODUCT_ID = CHA.PRODUCT_ID
		INNER JOIN TB_INSTALMENT INS ON INS.TYPEID = ORG.ORGANIZATION_ID
		WHERE
		INS.ITEM = #{ITEM} and ORDER_ID = #{ORDER_ID}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ORDER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	

</mapper>