<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrganizationMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_ORGANIZATION
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		ORGANIZATIONNAME,	
		STATUS,	
		PRODUCTNAME,	
		PRODUCT_ID,	
		CREATETIME,
		ORGANIZATION_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ORGANIZATIONNAME},	
		#{STATUS},	
		#{PRODUCTNAME},	
		#{PRODUCT_ID},	
		#{CREATETIME},
		#{ORGANIZATION_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		ORGANIZATIONNAME,
		STATUS,
		PRODUCTNAME,
		PRODUCT_ID,
		ORGANIZATION_ID
		) values (
		#{ORGANIZATIONNAME},
		#{STATUS},
		#{PRODUCTNAME},
		#{PRODUCT_ID},
		#{ORGANIZATION_ID}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			ORGANIZATION_ID = #{ORGANIZATION_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			ORGANIZATIONNAME = #{ORGANIZATIONNAME},
			STATUS = #{STATUS},
			PRODUCTNAME = #{PRODUCTNAME},
			PRODUCT_ID = #{PRODUCT_ID},
		ORGANIZATION_ID = ORGANIZATION_ID
		where 
		ORGANIZATION_ID = #{ORGANIZATION_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			ORGANIZATION_ID = #{ORGANIZATION_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and ORGANIZATIONNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		</if>
		<if test="pd.lastStart!=null and pd.lastStart!=''"><!-- 开始时间检索 -->
			and CREATETIME &gt;= #{pd.lastStart}
		</if>
		<if test="pd.lastEnd!=null and pd.lastEnd!=''"><!-- 结束时间检索 -->
			and CREATETIME &lt;= #{pd.lastEnd}
		</if>
		order by CREATETIME desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			ORGANIZATION_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	

</mapper>